
<div class="container mb-3 mt-5 rounded text-dark">

  <div class="row mt-5 mb-5">
    <div class="col-md-10 col-12">
      <div class="row mb-3 animate__animated animate__pulse">
        <div class="col-12 text-center text-white">
          <h2 class="fs-1"> Bem Vindo !! </h2>
          <p class="fw-light">Veja os perfis já cadastrados no site.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12 mb-4 animate__bounceIn animate__delay-2s" *ngFor='let profile of profiles;'>
          <!--  (mouseout)="myStyle(profile._id,'false','#6c757d',false)" (mouseover)="myStyle(profile._id,'#ff0','#ff0',false)"-->
          <div class="card shadow" id="{{profile._id}}">
            <div class="card-body">
              <div class="row mb-0">
                <div class="col-12 justify-content-center  mb-3">
                  <img src="{{profile.img}}" class="rounded-circle mx-auto d-block" alt="...">
                </div>
                <div class="col-12 text-center">
                  <h6 class="card-title text-uppercase fs-6">{{profile.title}}</h6>
                  <h6 class="card-subtitle mb-2 username-text">@{{profile.username}}</h6>
                </div>
              </div>
              <div class="row mb-3 text-center">
                <div class="col border-end">
                  <h5 class="card-title mb-2">{{profile.followers}}</h5>
                  <h6 class="card-subtitle mb2 text-muted">Seguidores</h6>
                </div>
                <div class="col">
                  <h5 class="card-title mb-2">{{profile.friends}}</h5>
                  <h6 class="card-subtitle mb2 text-muted">Seguindo</h6>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-orange btn-lg" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">Ver </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>