<section class="mt-5">
  <div class="container mb-3 mt-5 bg-white text-dark rounded p-5">
    <alert type="danger" *ngIf="msg">
      <strong>{{msg}}</strong>
    </alert>
    <div class="row justify-content-center mt-5">
      <div class="col-md-12 col-lg-10 mb-5">
        <div class="row">
          <div class="col-md-6 image-login rounded">
          </div>
          <div class="col-md-6 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4 text-center">Sign In</h3>
              </div>
            </div>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="signin-form" novalidate>
              <div class="form-group mb-3">
                <label class="label" for="name">Username</label>
                <div class="input-group">
                  <input type="text" name="username" ngModel #username="ngModel"
                    [ngClass]="{'is-invalid':!username.valid && f.submitted}" class="form-control form-control-lg"
                    placeholder="Username" required>
                </div>
                <div *ngIf="!username.valid && f.submitted" class="text-danger">
                  Favor digite um nome de usuario.
                </div>
              </div>
              <div class="form-group mb-5">
                <label class="label" for="password">Password</label>
                <input type="password" name="password" ngModel #password="ngModel"
                  [ngClass]="{'is-invalid': !password.valid && f.submitted}" class="form-control form-control-lg"
                  placeholder="Password" required>
                <div *ngIf="!password.valid && f.submitted" class="text-danger">
                  Favor digite a senha.
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-outline-primary rounded submit btn-lg">
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

